
:root {

  // Colors
  --primary-color: hsl(221, 83%, 53%);
  --primary-hover: hsl(221, 83%, 48%);
  --secondary-color: hsl(220, 16%, 36%);
  --secondary-hover: hsl(220, 16%, 28%);

  // Background colors
  //--bg-primary: hsl(0, 0%, 100%);
  --bg-color-1: hsl(0, 0%, 100%);
  --bg-color-2: hsl(212, 100%, 97%);
  --bg-color-3: hsl(207, 88%, 87%);

  // Border colors
  //--border-color: hsl(220, 13%, 91%);
  --border-color: hsl(0, 0%, 50%);
  --border-focus: hsl(221, 83%, 53%);

  // Text colors
  --text-color: hsl(220, 16%, 36%);
  --text-color-inverted: hsl(212, 100%, 97%);




}